autopep8==1.6.0
bandit==1.7.4
black==22.6.0
commitizen==2.28.0
coverage==6.4.1
cryptography==37.0.4
flake8==4.0.1
interrogate==1.5.0
ipykernel==6.15.1
jupyter-client==7.3.4
jupyter-core==4.11.1
mdformat==0.7.14
mdformat-gfm==0.3.5
mdformat_footnote==0.1.1
mdformat_frontmatter==0.4.1
mdformat_tables==0.4.1
mypy==0.961
mypy-extensions==0.4.3
nbclient==0.6.6
nbconvert==6.5.1
nbformat==5.4.0
nbqa==1.3.1
nbsphinx==0.8.9
pre-commit==2.20.0
pycodestyle==2.8.0
PyJWT==2.4.0
pylint==2.14.4
pytest==7.1.2
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-xdist==2.5.0
python-dateutil==2.8.2
recommonmark==0.7.1
requests==2.28.1
Sphinx==5.0.2
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.4.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
types-PyYAML==6.0.9
types-requests==2.28.0
types-urllib3==1.26.16
typing_extensions==4.3.0
