qiboconnection @ git+ssh://git@github.com/qilimanjaro-tech/qiboconnection.git@feat/TII-nshots-and-experiments
qpysequence @ git+ssh://git@github.com/qilimanjaro-tech/qpysequence.git@tii-demo
qilimanjaro-qilisimulator-library @ git+ssh://git@github.com/qilimanjaro-tech/qilisimulator.git@add-files
