qiboconnection @ git+https://github.com/qilimanjaro-tech/qiboconnection.git@TII
qpysequence @ git+https://github.com/qilimanjaro-tech/qpysequence.git@tii-demo
qilimanjaro-qilisimulator-library @ git+https://github.com/qilimanjaro-tech/qilisimulator.git@add-files
