# here goes your library dependencies to be installed
# with the exact version
# example:
# scipy==1.8.0
qibo==0.1.7
PyYAML==6.0
typeguard==2.13.3
qblox-instruments==0.6.1
qcodes==0.34.1
PyVISA==1.11.3
PyVISA-py==0.5.3
qutip==4.7.0
tqdm==4.64.0
urllib3==1.26.10
qiboconnection @ git+https://github.com/qilimanjaro-tech/qiboconnection.git@feat/127-true-2D-plotting
qpysequence @ git+https://github.com/qilimanjaro-tech/qpysequence.git
qilimanjaro-qilisimulator-library @ git+https://github.com/qilimanjaro-tech/qilisimulator.git@add-files
