# here goes your library dependencies to be installed
# with the exact version
# example:
# scipy==1.8.0
pandas==1.5.3
qibo==0.1.12
PyYAML==6.0
typeguard==2.13.3
qblox-instruments==0.9.0
qcodes==0.34.1
PyVISA-py==0.5.2
qutip==4.7.1
tqdm==4.64.1
urllib3==1.26.12
qiboconnection==0.8.0
qpysequence@ git+https://github.com/qilimanjaro-tech/qpysequence.git@0.9.0
qilimanjaro-qilisimulator-library@ git+https://github.com/qilimanjaro-tech/qilisimulator.git@0.1.3
lmfit==1.1.0
deepdiff==6.2.3
rustworkx==0.12.1
