qiboconnection
pandas==1.5.3
qibo==0.1.12
PyYAML==6.0
qblox-instruments==0.11.2
qcodes==0.42.0
qcodes_contrib_drivers==0.18.0
PyVISA-py==0.7.1
tqdm==4.64.1
urllib3==1.26.12
qpysequence==0.10.1
lmfit==1.1.0
rustworkx==0.12.1
h5py==3.9.0
papermill==2.4.0
qm-qua==1.1.6
qualang-tools==0.15.2
networkx==3.1
ruamel.yaml==0.18.2
submitit==1.5.0
