[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=
    line-too-long,
    invalid-name,
    fixme,
    duplicate-code,
    too-many-ancestors,
    missing-module-docstring,
    too-many-arguments,
    protected-access,
    too-few-public-methods,
    too-many-public-methods,
    missing-class-docstring,
    missing-function-docstring,
    import-error,
    too-many-branches
