<!DOCTYPE html>
<html>
  <head>
    <title>Wordcount</title>
  </head>
  <body>
      <div>
        <form method="POST", action="{{url_for('run')}}">
          <div>
            <form method="POST", action="{{url_for('set_platform')}}">
              Platforms:
              <select name=platforms method="GET" onchange="this.form.submit()">
                <text name="selected_platform" method="GET"></text>
                {% for platform in platforms %}
                  <option value= "{{platform}}" {% if platform == selected_platform %} selected="selected" {% endif %}>{{platform}}</option>"
                {% endfor %}
              </select>
              <input type="submit" style="display: none;">
            </form>
            Gate:
            <select name=gates method="GET">
              <text name="selected_gate" method="GET"></text>
              {% for gate in gates %}
                <option value= "{{gate}}" {% if gate == selected_gate %} selected="selected" {% endif %}>{{gate}}</option>"
              {% endfor %}
            </select>
            <form method="POST", action="{{url_for('set_category')}}">
              Category:
              <select name=categories method="GET" onchange="this.form.submit()">
                <text name="selected_category" method="GET"></text>
                {% for category in categories %}
                  <option value= "{{category}}" {% if category == selected_category %} selected="selected" {% endif %}>{{category}}</option>"
                {% endfor %}
              </select>
              ID:
              <select name=ids method="GET" onchange="this.form.submit()">
                <text name="selected_id" method="GET"></text>
                {% for id in ids %}
                  <option value= "{{id}}" {% if id == selected_id %} selected="selected" {% endif %}>{{id}}</option>"
                {% endfor %}
              </select>
              <input type="submit" style="display: none;">
            </form>
            Parameter:
            <select name=parameters method="GET">
              {% for parameter in parameters %}
                <option value= "{{parameter}}" SELECTED>{{parameter}}</option>"
              {% endfor %}
            </select>
            Min: <input name="start">
            Max: <input name="stop">
            Num: <input name="num">
            <input type="submit">
            </div>
        </form>
      </div>
      <iframe height=100% width=100% src="https://83.51.78.191:8080/plotting/live-plotting/data-viewer/"></iframe>
  </body>
</html>