name: Code Quality

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
      - "ready_for_review"

jobs:
  code-quality:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 7

    env:
      HOME_REPO: /home/repo

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Set up Python 3.10
        run: uv python install 3.10

      - name: Install the project
        run: uv sync --all-extras --all-groups --dev

      - name: Ruff
        run: uv run ruff check --output-format=github .

      - name: Mypy
        run: uv run mypy src --ignore-missing-imports

      - name: Mdformat
        run: uv run mdformat .

      - name: nbqa
        run: |
          # nbqa ruff .
          uv run nbqa mypy . --ignore-missing-imports
          uv run nbqa mdformat .
