name: "Documentation check"

on:
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
      - "ready_for_review"


jobs:
  docs:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
        cache-dependency-glob: |
          **/pyproject.toml
          **/uv.lock
        enable-cache: true

    - name: Install the project
      run: uv sync --group docs --all-extras 

    - name: Build docs
      run: |
        uv run sphinx-build -W -b html docs docs/_build --keep-going
