name: "Documentation check"

on:
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
      - "ready_for_review"


jobs:
    docs:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 1

        - name: Install uv
          uses: astral-sh/setup-uv@v4

        - name: Set up Python 3.10
          run: uv python install 3.10

        - name: Install the project
          run: uv sync --all-extras --all-groups --dev

        - name: Build docs
          run: |
            uv run sphinx-build -W -b html docs docs/_build --keep-going
