name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
      - "ready_for_review"

jobs:
  tests:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      HOME_REPO: /home/repo

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Set up Python 3.10
        run: uv python install 3.10

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run tests
        run: |
          uv run pytest --cov=qililab --cov-report=xml tests

      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: "unittests"
